/* reset.css - a list of rules that 'reset' all of the default browser styles */

/* All elements and applies settings based on below */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Applies below to HTML */ 
  html {
    height: 100%;
  }
/* The following is applied to the body */ 
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
/* Font-size to add of the different headings */  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
/* Properties getting the below values */ 
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
/* Ordered and unordered list get the following list-style */ 
  ol, ul {
    list-style: none;
  }